SUPABASE_URL=
SUPABASE_SERVICE_KEY=
ANTHROPIC_API_KEY=
KROGER_CLIENT_ID=dupedishprod-bbcfskkq
KROGER_CLIENT_SECRET=3MIOgOVU7dQA3O3wjfOhWGfzubneiNMubSRAEKyW
KROGER_LOCATION_ID=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
PORT=3000
